/* ================= CSS do formulário de cadastro ================= */

/*Configurações gerais da página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5eee7;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    color: #333;
}

/* Labels */
label {
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

/* Campos gerais */
.input-field,
.textarea,
select {
    width: 90%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 1px solid #bbb;
    font-size: 15px;
    background: #fafafa;
    display: flex;
    align-items: center;
}

/* Campo de upload */
input[type="file"] {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #bbb;
    background: #fafafa;
    font-size: 15px;
    cursor: pointer;
    width: 90%;
}

/* Textarea */
.textarea {
    height: 100px;
    resize: none;
}

.textarea::placeholder {
    color: #a0a0a0;
    font-size: 14px;
}

/* Layout em duas colunas */
.row {
    display: flex;
    gap: 50px;
}

.row .col {
    flex: 1;
}

/* Botões */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.btn-cancelar {
    background: #ddd;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.btn-salvar {
    background: #e6461a;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.btn-salvar:hover {
    background: #cc3e17;
}

/* Responsividade */
@media (max-width: 900px) {
    .container {
        padding: 25px;
        margin: 30px auto;
    }

    .row {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        gap: 15px;
    }

    h1 {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
        border-radius: 12px;
    }

    .btn-cancelar,
    .btn-salvar {
        width: 100%;
        text-align: center;
        padding: 14px;
    }

    .buttons {
        flex-direction: column;
        gap: 12px;
    }
}